
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <form action="inserir" method="post">
        <p>
            Nome: <input type="text" name="nome" value="" />
        </p>
        
        <p>
            CPF: <input type="text" name="cpf" value="" />
        </p>

        <p>
            Sexo: <input type="text" name="sexo" value="" />  
        </p>

        <p>
            Telefone: <input type="text" name="telefone" value="" />
        </p>

            <input type="submit" value="Enviar" />
        
        </form>

    </body>
</html>
